@font-face {
      font-family: 'circular-webfont';
      src: url('/assets/style/font/circular-webfont.eot');
      src: url('/assets/style/font/circular-webfont.eot?#iefix') format('embedded-opentype'),
           url('/assets/style/font/circular-webfont.woff') format('woff'),
           url('/assets/style/font/circular-webfont') format('truetype'),
           url('/assets/style/font/circular-webfont.svg#anitag_icon') format('svg');
      font-weight: normal;
      font-style: normal;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {color:#fff;}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
  color:#007aff;
}
button,input,select,textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  font-family: circular-webfont, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
	