@font-face {
      font-family: 'circular-webfont';
      src: url('/assets/style/font/circular-webfont.eot');
      src: url('/assets/style/font/circular-webfont.eot?#iefix') format('embedded-opentype'),
           url('/assets/style/font/circular-webfont.woff') format('woff'),
           url('/assets/style/font/circular-webfont') format('truetype'),
           url('/assets/style/font/circular-webfont.svg#anitag_icon') format('svg');
      font-weight: normal;
      font-style: normal;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {color:#fff;}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
  color:#007aff;
}
button,input,select,textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  font-family: circular-webfont, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
#footer-wrapper {display:block; width:100%; position:absolute; bottom:0px; z-index: 99;}
.footer-left, .footer-left-missing {display:block; float: left; height:2.5em; width:50%; -webkit-border-top-right-radius: 1em; -moz-border-radius-topright: 1em; border-top-right-radius: 1em; padding:0.5em;}
.footer-right, .footer-right-missing {display:block; float: right; height:2.5em; width:50%; -webkit-border-top-left-radius: 1em; -moz-border-radius-topleft: 1em; border-top-left-radius: 1em; padding:0.5em; text-align:right;}
.icon {color:#fff;}
.shadow {text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);}
.normal-shadow {-webkit-box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.75); -moz-box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.75); box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.75);}
.opa50 {background-color: rgba(255, 255, 255, 0.5);}
.opa90 {background-color: rgba(255, 255, 255, 0.9);}
.light-gray-hover {background-color:#e4e4e4;}
.round4conners { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.clear {clear:both;}
	